@model FPTBook.Models.Book

@{
    ViewData["Title"] = "Detail";
}

<div class="container">
        <div class="row mt-3 mb-4">
            <div class="col-md-4">
                <img src="~/img/@Model.image" alt="@Model.name" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1 class="mt-4 mt-md-0">@Model.name</h1>
                <h2>$@Model.price</h2>
                <hr>
                <b>Author: </b>@Model.author
                <br><br>
                <b>Date Public: </b>@Model.date.ToString("dd/MM/yyyy")
                <br><br>
                <b>Description: </b>@Model.description
                <br><br>
                <b>In stock: </b>@Model.quantity
                <hr>
                <form asp-route-book_id="@Model.id" asp-controller="Cart" asp-action="AddToCart" class="mt-4 p-4 bg-light" method="post">
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" class="form-control" asp-for="quantity" value="1">
                        @if(TempData["msg"] != null)
                        {
                            <span class="text-danger">@TempData["msg"]</span>
                        }
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add to Cart" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
                </form>
            </div>
        </div>
    </div>


