@model List<FPTBook.Models.Book>

@{
    ViewData["Title"] = "BestSellerBook";
}

<h1>Bestseller Book</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cat_Id</th>
            <th>Price</th>
            <th>Olde Price</th>
            <th>In Stock</th>
            <th>Image</th>
            <th>Quantity Sold</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string status = "";
            @if (item.status == 0)
            {
                status = "Sold Out";
            }
            else if (item.status == 1)
            {
                status = "On Sale";
            }
            else if(item.status == 2)
            {
                status = "Inactive";
            }
            int sold = 0;
            foreach (var book in item.orders_detail)
            {
                sold = sold + book.book_quantity;
            }
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.category.name</td>
                <td>@item.price</td>
                <td>@item.old_price</td>
                <td>@item.quantity</td>
                <td style="width: 100px;"><img src="~/img/@item.image" alt="@item.name" style="width: auto;"></td>
                <td>@sold</td>
                <td>@status</td>
            </tr>
        }
    </tbody>
</table>