@model List<FPTBook.Models.Book>

@{
    ViewData["Title"] = "ViewListBooks";
}
<h1>Manage Book</h1>
<p>
    <button class="btn btn-primary"><a style="color: white;" asp-action="CreateBook">Add</a></button>
</p>
<div class="navbar-nav ms-auto pull-right">
    <form asp-controller="StoreOwner" asp-action="ViewListBooks" class="d-flex w-auto" method="GET">
        <input name="keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cat_Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Date</th>
            <th>Description</th>
            <th>In Stock</th>
            <th>Olde Price</th>
            <th>Price</th>
            <th>Image</th>
            <th>Deleted</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string status = "";
            @if (item.status == 0)
            {
                status = "Sold Out";
            }
            else if (item.status == 1)
            {
                status = "On Sale";
            }
            else if (item.status == 2)
            {
                status = "Inactive";
            }
            <tr>
                <td>@item.id</td>
                <td>@item.category.name</td>
                <td>@item.name</td>
                <td>@item.author</td>
                <td>@item.date.ToString("dd/MM/yyyy")</td>
                <td>@item.description</td>
                <td>@item.quantity</td>
                <td>@item.old_price</td>
                <td>@item.price</td>
                <td style="width: 100px;"><img src="~/img/@item.image" alt="@item.name" style="width: auto;"></td>
                <td>@item.is_deleted</td>
                <td>@status</td>
                <td>
                    <a asp-action="UpdateBook" asp-route-id="@item.id">Update</a> |
                    <a asp-action="DetailBook" asp-route-id="@item.id">Details</a> |
                    <a asp-action="DeleteBook" asp-route-id="@item.id"
                        onclick="return confirm('Are you sure about that?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>