@model List<FPTBook.Models.OrderDetail>

@{
    ViewData["Title"] = "ViewOrderDetail";
}

<h1>Order Detail</h1>
<a class="btn btn-primary" type="button" asp-controller="StoreOwner" asp-action="ViewListOrders" role="button">Back to list</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Order Id</th>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            double total = @item.book_quantity * @item.book.price;
            <tr>
                <td>@item.id</td>
                <td>@item.order_id</td>
                <td>@item.book.name</td>
                <td>@item.book_quantity</td>
                <td>@item.book.price</td>
                <td>$@total</td>
            </tr>
        }
    </tbody>
</table>