@model FPTBook.Models.User

@{
    ViewData["Title"] = "Profile";
}


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Account</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Username</th>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <th>Full Name</th>
                        <td>@Model.full_name</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>@Model.gender</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>@Model.address</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="Index" role="button">Back</a>
            <a class="btn btn-primary" role="button" asp-controller="Customer" asp-action="Update"
                asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-primary" role="button" asp-controller="UserAuthentication"
                asp-action="ChangePassword">Change Password</a>

        </div>
        <div class="col-sm-6">
            <h1>Order Records</h1>
            <table class="table">
                <thead>
                    <th>Date</th>
                    <th>Payment</th>
                    <th>Status</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.orders)
                    {
                        string status = "";
                        @if (item.status == 0)
                        {
                            status = "Packing";
                        }
                        else if (item.status == 1)
                        {
                            status = "Delivered";
                        }
                        else if (item.status == 2)
                        {
                            status = "Canceled";
                        }
                        <tr>
                            <td>@item.order_date.ToString("dd/MM/yyyy")</td>
                            <td>@item.payment</td>
                            <td>@status</td>
                            @if (item.status == 0)
                            {
                                <td><a class="btn btn-primary" type="button" asp-controller="Customer" asp-action="CancelOrder"
                                asp-route-id="@item.id" style="margin-top: 0px;"
                                        onclick="return confirm('Are you sure about cancel the order?')"
                                        role="button">Cancel</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
